@{
    ViewBag.Title = "Settings";


}
<link rel="stylesheet" href="~/css/Product.css" />




<div class="container" id="product" style="display:block; margin-top:50px">



    <form method="post" asp-action="UpdateUserName" asp-controller="Home" onsubmit="savedDetail()">
        <div class="form-section">
            <h3>Update Credentials</h3>
            <div class="form-row" style="width:50%">
                <label class="required">Old Username</label>
                <input type="text" class="form-control" name="userName" placeholder="Enter Employee Name" />

            </div>
            <div class="form-row">
                <label class="required">New Username</label>
                <input type="text" id="username" name="NewUsername" required>
        
         
                <label class="required">Confirm Username:</label>
                <input type="text" id="ConfirmNewUsername" name="" required>



               
            </div>

        </div>
        <div class="button-container">
            <button type="submit">Change</button>
            <button type="reset">Reset</button>

        </div>
    </form>
</div>


<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your UserName Changed successfully",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>





