@{
    ViewBag.Title = "Settings";


}
<link rel="stylesheet" href="~/css/Product.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">


<div class="container" id="product" style="display:block; margin-top:50px">



    <form method="post" asp-action="SetPassword" asp-controller="Home" onsubmit="savedDetail()">
        <div class="form-section">
            <h3>Update Credentials</h3>
            <div class="form-row" style="width:50%">
                <label class="required">UserName</label>
                <input type="text" class="form-control" name="userName" placeholder="Enter Username" />



                
            </div>
            <div class="form-row">

                <label class="required">New Password</label>
                <input type="password" id="username" name="NewUsername" required>
                <i class="fa-solid fa-eye-slash eye-icon" onclick="togglePassword('username', this)"></i>

                <label class="required">Confirm New Password:</label>
                <input type="password" id="ConfirmNewUsername" name="" required>
                <i class="fa-solid fa-eye-slash eye-icon" onclick="togglePassword('ConfirmNewUsername', this)"></i>




            </div>

        </div>
        <div class="button-container">
            <button type="submit">Change</button>
            <button type="reset">Reset</button>

        </div>
    </form>
</div>



<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your UserName Changed successfully",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    function togglePassword(inputId, eyeIcon) {
        let inputField = document.getElementById(inputId);

        if (inputField.type === "password") {
            inputField.type = "text";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            inputField.type = "password";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    }
</script>

<script>
    function validateAccountNumbers() {
        const acc1 = document.getElementById("username").value;
        const acc2 = document.getElementById("ConfirmNewUsername").value;

        if (acc1 !== acc2) {
            AccountNoPopup();
            return false;
        }

        savedDetail();
        return true;
    }
</script>


<script>
    function AccountNoPopup() {
        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Account number does not match confirmation!",

        });
    }
</script>





